language: php

php: 
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction
  - wget https://scrutinizer-ci.com/ocular.phar
script:
  - mkdir -p tmp
  - phpunit --configuration phpunit.xml.dist
after_script:
  - php ocular.phar code-coverage:upload --format=php-clover tmp/coverage.clover

cache:
  directories:
    - vendor