suites:
  package_suite:
    namespace: LucaDegasperi\OAuth2Server
    src_path: src
    spec_path: tests
    spec_prefix: unit
extensions:
  - PhpSpec\Extension\CodeCoverageExtension
code_coverage:
  whitelist:
    - src
  output: tmp/coverage.clover
  format: clover