<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./build</directory>
                <directory>./src/migrations</directory>
                <directory>./src/config</directory>
                <directory>./src/lang</directory>
                <directory>./src/views</directory>
                <directory>./src/LucaDegasperi/OAuth2Server/Repositories</directory>
                <directory>./composer</directory>
                <directory>./tests</directory>
                <directory>./travis</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="tmp/coverage.clover"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>